<div class="row"> 
<div class="col-md-5">
    <br/>
    <h2 style="font-family: Georgia, serif;"> Welcome to my TodoList ! </h2>
    <br/>
<form [formGroup] = "this.taskService.form"  (ngSubmit) = " onSubmit() ">
<input type="hidden" formControlName = "$key"> 

<div class="form-group">
<label>Task Name:</label>
<input formControlName = "taskName" class = "form-control" [ngClass] = "{ ' is-invalid ' : submitted && formControls.taskName.errors }"> 

<div class = "invalid-feedback" *ngIf = "submitted && formControls.taskName.errors">
This field is required
</div>


</div>

<div class="form-group">
<label>Task Description:</label>
<input formControlName = "taskDescription" class = "form-control"> 
</div>

<div class="form-group">
<label>Task Date:</label>
<input formControlName = "taskDate" class = "form-control" [ngClass] = "{ ' is-invalid ' : submitted && formControls.taskDate.errors }"> 

<div class = "invalid-feedback" *ngIf = "submitted && formControls.taskDate.errors">
    This field is required
    </div>

</div>

<div class="form-group">
<label>Task Time:</label>
<input formControlName = "taskTime" class = "form-control" [ngClass] = "{ ' is-invalid ' : submitted && formControls.taskTime.errors }"> 

<div class = "invalid-feedback" *ngIf = "submitted && formControls.taskTime.errors">
    This field is required
    </div>

</div>


<div class = "form-group">
<input type="submit" class = "btn btn-primary" value="Submit">
</div>

<div class="alert alert-info" *ngIf ="showSuccessMessage">
added succefully 
</div>

</form>

</div>
<div class="col-md-7">
    <app-task-list ></app-task-list>  
</div>


</div>
